 <div class="action">
        <div class="action-sub">
            <div class="action-title">Votre maison mérite le meilleur!</div>
            <div class="action-text">Devis gratuit</div>
        </div>
        <div class="cta">
            <a href="services.html" class="bouton-clair">Découvrir mes services</a>
        </div>  
    </div>

    <style>
.action {
  background-color: #2f2559;
  color: #ffffff;
  display: flex;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0 5%;
}

.action-sub {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0 5%;
}

.action-title {
  font-weight: 900;
  display: flex;
}

.action-text {
  display: flex;
}
.cta {
  display: flex;
  justify-content: center;
  align-items: center;
}

    </style>