---
import sap from '../images/sap.webp'

---

<section class="presentation">

    <div class="container">
        <h2>Petits travaux de bricolage à domicile</h2>
            <p>J’accompagne les particuliers, les entreprises et les collectivités dans la réalisation de leurs <strong> travaux d'intérieur et aménagements extérieurs</strong>, lorsqu’ils manquent de temps, de compétence ou simplement d’envie. 
        Un seul interlocuteur de confiance, pour des travaux bien faits, sans stress ni mauvaises surprises.
        Je propose des services très diversifiés tout en garantissant le même niveau d’exigence et de soin, quel que soit le domaine concerné. 
        Et parce que je travaille chez vous comme chez moi, je n’interviens que sur des travaux que je maîtrise parfaitement. 
            </p>
    </div>
    
<div class="cta">
         <div class="texte-cta">
            <a href="/contact" class="bouton-fonce">Demandez votre devis gratuit</a>
                <p>Éligible au <a href="https://www.servicesalapersonne.gouv.fr/je-suis-un-particulier/particuliers-quels-services-la-personne-peuvent-etre-regles-avec-le-cesu" target="_blank" rel="noopener noreferrer" class="lien-texte">Service à la personne</a> selon prestations</p>
         </div>
         <a href="https://www.servicesalapersonne.gouv.fr/je-suis-un-particulier/services-la-personne-les-avantages-fiscaux-et-sociaux-et-les-aides-pour-les" target="_blank" rel="noopener noreferrer" class="image-cta" aria-label="En savoir plus sur le CESU">
         <img src={sap.src} alt="logo officiel service à la personne" width="220" height="162"> </a>
</div>
</section>

<style>

.presentation {
  padding: 2% 0; 
  text-align: center;
  background-color: #ffffff;
  color: #1f2937;
}
.cta {
  display: flex;
  flex: 1;
  margin: 0;
  padding: 0 5%;
  justify-content: center;
  gap: 5rem;
  align-items: center;
}

.texte-cta {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 600px;
  margin: 0;
}

.image-cta {
  display: flex;
}
@media (max-width: 900px) {
  .cta {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0;
    text-align: center;
  }
  .cta .bouton-fonce {
    display: block !important;
    margin-inline: auto !important;
    width: fit-content;
    padding: 1rem 2.5rem;
  }
  .texte-cta {
    align-items: center;
  }
}
</style>