---
import béton from '../images/béton.png'
import bricolage from '../images/bricolage.png'
import clôture from '../images/clôture.png'
import jardin from '../images/jardin.png'
import minipelle from '../images/minipelle.png'
---

 <section class="services">
        <div class="container">
        <h2>Mes services à Massérac et autour de Redon</h2>
        <div class="cards">
            <a href="/services" class="card-one">
                <img src={béton} alt="maçonnerie: dalle béton, murets, enduits, terrasse" width="354"  height="354">
                <div class="text"><strong>Maçonnerie</strong><br>Dalle béton, murets, enduits, terrasse.</div>
            </a>
            <a href="/services" class="card-two">
                <img src={bricolage} alt="petits travaux, construction en bois" width="220"  height="221">
                <div class="text"><strong>Petits travaux</strong><br>Constructions en bois, nettoyage de façades, bricolages divers à l'intérieur ou à l'extérieur.</div>
            </a>
            <a href="/services" class="card-three">
                <img src={jardin} alt="espaces verts : tonte, taille de haie avec évacuation" width="343"  height="343">
                <div class="text"><strong>Espaces verts</strong><br>Tonte, taille de haie avec évacuation, débroussaillage.</div>
            </a>
            <a href="/services" class="card-four">
                <img src={clôture} alt="cloture, aménagements extérieur, portail" width="310"  height="310">
                <div class="text"><strong>Aménagement extérieur</strong><br>Pose de portail, clôture.</div>
            </a>
            <a href="/services" class="card-five">
                <img src={minipelle} alt="Mini-pelle: terrassement, empierrement, tranchées." width="335"  height="335">
                <div class="text"><strong>Mini-pelle</strong><br>Terrassement, empierrement, tranchées.</div>
            </a>
        </div>
        </div>
    </section>