<section class="tarifs">
        <h2>Tarifs à partir de 35€/h</h2>
        <p>Les prestations <strong>Espaces verts</strong> sont facturées 35€/h.<br> Pour tout le reste, les tarifs varient en fonction du projet et de vos besoins spécifiques. <br>Chaque intervention est unique, et je m'engage à vous fournir un devis clair et adapté, selon :
            <ul class="liste-centree">
                <li>La complexité du travail, le temps nécessaire et les outils spécifiques</li>
                <li>Le volume ou la surface à traiter</li>
                <li>Le type d'équipement ou de matériaux nécessaires</li>
                <li>La localisation ou l'accessibilité du chantier</li>
            </ul>
            Chaque projet est discuté avec vous en amont. Je reste bien sûr à votre écoute pour trouver une solution adaptée à votre budget.<br> Le règlement en CESU préfinancé est possible pour les prestations <strong>Espaces Verts</strong> et pour les <strong>petits bricolages élémentaires.</strong>
        </p>
    </section>

    <style>
        .tarifs {
  padding: 2% 10%;
  text-align: center;
  background-color: #ffffff;
  color: #1f2937;
}

.tarifs p {
  text-align: center;
}

.liste-centree {
  max-width: 600px;
  margin: auto;
  text-align: left;
}
    </style>